<!--create tweet form-->
<form action="/tweets" method=POST>
  <label>Your Tweet:</label>
  <input type="text" name="content" id="content">
  <input type="submit" value="Submit">
</form>
<br></br>
<a class="button" href="/">Home</a>