<h3>Sign Up Here:</h3>
<form action="/signup" method="POST">
  Username: <input type="text" name="username" placeholder="Username:"><br></br>
  E-Mail: <input type="text" name="email" placeholder="E-Mail:"><br></br>
  Password: <input type="password" name="password" placeholder="Password:"><br></br>
  <input type="submit" value="Sign Up">
</form>